* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2020/05/30/09/53/todo-lists-5238324_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#header {
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
    font-size: 5rem;
    border-radius: 25px;
    color: rgb(71, 61, 61);
}

#button {
    width: 120px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0px 0px 4px 40px;
    font-size: 20px;
    background-color: white;
    /* background-color: rgb(206, 206, 206); */
    cursor: pointer;
    width: 75%;
    height: 50px;
    margin-top: 6px;
    border-radius: 20px;
}

li:nth-child(even) {
    background: #eeebeb;
}

li:hover {
    background-color: rgb(206, 206, 206);
}

li.checked {
    background: rgb(91, 175, 70);
    color: #fff;
    text-decoration: line-through;
}


/* li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
} */

.delete-btn {
    padding: 6px 16px;
}

.delete-btn:hover {
    background-color: red;
    color: white;
    border-radius: 0px 20px 20px 0px;
}