* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2020/05/30/09/53/todo-lists-5238324_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#header {
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
    color: rgb(71, 61, 61);
    /* color: #fff; */
    border: solid 1px black;
    border-radius: 25px;
    box-shadow: 5px 5px 30px black;
    /* font-family: 'Amatic SC', cursive; */
    font-family: "Montserrat", sans-serif !important;
    font-size: 5rem;
    font-weight: bold;
}

.input {}

#button {
    width: 60px;
    height: 46px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    justify-content: space-between;
    /* justify-content: space-evenly; */
    align-items: center;
    list-style: none;
    padding: 0px 0px 4px 40px;
    font-size: 20px;
    background-color: white;
    /* background-color: rgb(206, 206, 206); */
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin-top: 6px;
    border-radius: 20px 3px 3px 20px;
    box-shadow: 10px 5px 20px black;
    font-family: "Montserrat", sans-serif !important;
}

li:nth-child(even) {
    background: #eeebeb;
}

li:hover {
    background-color: rgb(206, 206, 206);
    box-shadow: 5px 5px 30px black;
}

.box {
    font-size: 25px !important;
    /* background-color: #fff; */
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 20px black;
}

.body {
    padding: 10px;
    height: 40% !important;
}

.head-to-do {
    background-color: #f57c00;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    text-align: center;
    color: #fff;
}

.head-completed {
    background-color: #43a047;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    text-align: center;
    color: #fff;
}

h3 {
    color: #fff;
    font-family: "Amatic SC", cursive;
    font-size: 30px;
}

li.checked {
    background: rgb(91, 175, 70);
    color: #fff;
    text-decoration: line-through;
}


/* li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
} */

.delete-btn {
    padding: 6px 16px;
    height: 40px;
    margin-top: 4px;
}

.check-btn {
    padding: 6px 16px;
    height: 40px;
    margin-top: 4px;
    margin-left: auto;
}

.rtrn-btn {
    padding: 6px 16px;
    height: 40px;
    margin-top: 4px;
    /* margin-left: auto; */
}


/* .delete-btn:hover {
    background-color: red;
    color: white;
    border-radius: 0px 20px 20px 0px;
} */